In [6]:
import numpy as np
import pandas as pd

In [7]:
df=pd.read_csv('Real_estate.csv')
cdf=df[['X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores','Y house price of unit area']]
cdf.head(5)

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,Y house price of unit area
0,32.0,84.87882,10,37.9
1,19.5,306.59470,9,42.2
2,13.3,561.98450,5,47.3
3,13.3,561.98450,5,54.8
4,5.0,390.56840,5,43.1

In [8]:
msk=np.random.rand(len(df)) < 0.5
train=cdf[msk]
test=cdf[~msk]

In [9]:
x=train[['X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores']]
y=train[['Y house price of unit area']]

In [10]:
import sklearn.linear_model as sk
regr=sk.LinearRegression()
regr.fit(x,y)

LinearRegression()

In [91]:
x_test=test[['X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores']]
y_test=test[['Y house price of unit area']]
print("variation: %.2f"%regr.score(x_test,y_test))
print('predictions: ',regr.predict(x_test))

variation: 0.67
predictions:  [[47.42656478]
 [43.5309166 ]
 [43.5309166 ]
 [34.78977986]
 [40.27054264]
 [44.31526899]
 [33.83931688]
 [33.42950623]
 [52.84826764]
 [43.94551888]
 [39.35281523]
 [51.82767879]
 [34.98724191]
 [34.11212135]
 [35.71176355]
 [47.06768875]
 [45.66727197]
 [45.13986784]
 [47.30042173]
 [19.9291679 ]
 [32.64678932]
 [34.8213402 ]
 [44.08177918]
 [19.99546773]
 [19.22918428]
 [37.74666722]
 [45.15033921]
 [41.66932776]
 [14.6898094 ]
 [15.08528562]
 [40.26028736]
 [44.10804655]
 [14.84887934]
 [33.6369851 ]
 [32.13269845]
 [42.50749113]
 [49.83748421]
 [40.81199308]
 [43.74105552]
 [34.7161068 ]
 [43.05571768]
 [19.942933  ]
 [34.72820674]
 [31.22134   ]
 [32.98197564]
 [42.76000901]
 [53.30674612]
 [37.04009763]
 [43.20215676]
 [34.07933253]
 [31.12753442]
 [29.32128092]
 [36.69324279]
 [52.82200028]
 [49.81121685]
 [50.02888002]
 [40.55338717]
 [42.640686  ]
 [34.40381311]
 [44.90614914]
 [36.85996214]
 [19.44023616]
 [32.85574638]
 [43.86671678]
 [43.78791469]
 [43.28318689]
 [40.41876237]
 [47.11073016]
 [41.35870774]
 [45.9236903 ]
 [44.08177918]
 [41.44503935]
 [47.00598034]
 [42.3264541 ]
 [43.60519521]
 [34.8213402 ]
 [47.51378654]
 [19.20291692]
 [29.06649283]
 [40.27073945]
 [52.47798548]
 [39.11485666]
 [42.3264541 ]
 [34.96969972]
 [44.63995025]
 [32.86651175]
 [52.76946555]
 [17.54925535]
 [45.3986232 ]
 [38.73118127]
 [49.61746191]
 [33.24179815]
 [26.92427673]
 [31.91025622]
 [31.11627054]
 [43.5805032 ]
 [41.39577962]
 [38.7452349 ]
 [40.55190879]
 [36.42654893]
 [43.99035741]
 [42.64462285]
 [33.85492801]
 [43.58345133]
 [33.9711878 ]
 [36.78425889]
 [48.58214838]
 [46.4837906 ]
 [52.87453501]
 [33.78678215]
 [46.74584393]
 [31.74742738]
 [43.78791469]
 [43.38966968]
 [46.12750314]
 [49.81121685]
 [19.23371415]
 [35.73719781]
 [19.34755822]
 [16.15926411]
 [42.90556135]
 [47.73919958]
 [53.49540826]
 [36.59946602]
 [32.43989824]
 [29.48281571]
 [47.85245783]
 [37.83892958]
 [31.85554571]
 [44.16058128]
 [35.76346517]
 [33.86558425]
 [38.29110582]
 [43.33170683]
 [46.81283613]
 [43.21388564]
 [51.82767879]
 [31.03746845]
 [38.9603199 ]
 [51.83723076]
 [36.9875629 ]
 [27.49833068]
 [35.76118745]
 [45.1134262 ]
 [30.95576055]
 [51.16929288]
 [42.48224406]
 [39.63490444]
 [19.18117942]
 [46.93396874]
 [47.01891357]
 [31.01444872]
 [25.6866395 ]
 [33.60360787]
 [44.1064933 ]
 [47.27782885]
 [47.63413012]
 [38.10183687]
 [39.32872228]
 [19.46650353]
 [39.34417205]
 [40.2302425 ]
 [34.32148799]
 [42.56034404]
 [35.73893621]
 [14.73636454]
 [32.39529817]
 [47.1765135 ]
 [42.23585185]
 [33.08920541]
 [53.00587183]
 [42.12512743]
 [42.3264541 ]
 [ 8.71666973]
 [43.89298415]
 [35.57896254]
 [29.41484044]
 [35.71093044]
 [34.76880547]
 [46.88381719]
 [49.81121685]
 [30.15098346]
 [47.17849196]
 [39.27887798]
 [47.22708871]
 [40.10533726]
 [32.99671956]
 [32.1184821 ]
 [33.08160555]
 [44.16058128]
 [47.14665433]
 [43.20215676]
 [46.43125588]
 [52.37291602]
 [49.62157043]
 [44.63339385]
 [38.34747785]
 [51.03478536]
 [32.7435388 ]
 [44.50396273]
 [33.554536  ]
 [39.33141271]
 [40.39162418]
 [33.6953814 ]
 [50.0436577 ]
 [31.79186299]
 [19.96920037]
 [45.51381837]
 [52.79573291]]