In [3]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv('Real_estate.csv')
cdf=df[['X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores','Y house price of unit area']]
cdf.head(5)

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,Y house price of unit area
0,32.0,84.87882,10,37.9
1,19.5,306.59470,9,42.2
2,13.3,561.98450,5,47.3
3,13.3,561.98450,5,54.8
4,5.0,390.56840,5,43.1

In [16]:
msk=np.random.rand(len(df))<0.8
train=cdf[msk]
test=cdf[~msk]

ValueError: Integer subplot specification must be a three-digit number, not 1

In [17]:
x=train[['X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores']]
y=train[['Y house price of unit area']]